#=== Image Quantification Parameters ===
#This is a comment, use it to describe your parameters

#Morphological element used for binary operations, e.g. openning, closing, etc.
Morphological_element_size, 5

#Connectivity used, use 4 or 8
Neighbourhood_size, 8

#Images can be resampled to make processing faster
resample, 0.5

#Reject abnormal bubbles from quantification. E>0.85 or S<0.9
Eccentricity, 0.85
Solidity, 0.9

#Also ignore too small bubbles, this is in pixels
min_size, 50