#=== Image Quantification Parameters ===
#This is a comment, use it to describe your parameters
#Parameters are described by its name (no spaces), its value, and its range. All three separated by commas
#For input validation use the range option:
# - square brakets define a continious range between the values (inclusive)
# - curly brakets define a discrete range between the values (inclusive)
# - brakets define a set of possible values listed inside

#=== BV_Quantification PARAMETERS ===
#Morphological element used for binary operations, e.g. openning, closing, etc.
Morphological_element_size, 5, {3 10}

#Connectivity used, use 4 or 8
Neighbourhood_size, 8, (4 8)

#Marker size for watershed segmentation
Marker_size, 10, {2 30}

#Images can be resampled to make processing faster
resample, 0.5, [0.1 1]

#Reject abnormal bubbles from quantification. E>0.85 or S<0.9
Min_eccentricity, 0.85, [0.1 1]
Max_Solidity, 0.9, [0.1 1]

#Also ignore too small bubbles, this is in pixels
min_size, 50, [0 1000]