#=== Parameters Config File ===
#This is a comment because starts with a # sign. Empty lines are also ignored
#Parameters are described by its name (no spaces), its value, and its range.
#All three items separated by commas
#For input validation use the range option:
# - square brackets define a continuous range between the values (inclusive)
# - curly brackets define a discrete range between the values (inclusive)
# - brackets define a set of possible values listed inside

#=== PARAMETERS ===
#Morphological element used for binary operations, e.g. openning, closing, etc.
Morphological_element_size, 5, {3 10}

#Connectivity used, use 4 or 8
Connectivity, 8, (4 8)

#Marker size for watershed segmentation
Marker_size, 10, {2 30}

SmallBubbles_minsize, 5 , {5 10}

SmallBubbles_maxsize, 30 , {10 30}

BigBubbles_minsize, 30, {30 50}

BigBubbles_maxsize, 200, {200 900}

SmallBubbleSensitivity, 0.85, [0 1]

# A high value (closer to 1) will allow only the strong edges to be included, whereas a low value (closer to 0) includes even the weaker edges.
SmallBubbleEdgethreshold, 0.5, [0 1]

BigBubbleSensitivity, 0.85, [0 1]

# A high value (closer to 1) will allow only the strong edges to be included, whereas a low value (closer to 0) includes even the weaker edges.
BigBubbleEdgethreshold, 0.5, [0 1]

#Images can be resampled to make processing faster
resample, 0.5, [0.1 1]

#Reject abnormal bubbles from quantification. E>0.85 or S<0.9
#Max_Eccentricity, 0.85, [0.1 1]
#Min_Solidity, 0.9, [0.1 1]

#Also ignore too small bubbles (equivalent diameter in mm)
min_size, 0.1, [0 50]