#=== Parameters Config File ===
#Parameters are described by its name (no spaces), its value, and its range.
#All three items separated by commas
#For input validation use the range option:
# - square brackets define a continuous range between the values (inclusive)
# - curly brackets define a discrete range between the values (inclusive)
# - brackets define a set of possible values listed inside

#=== Default PARAMETERS ===
#Morphological element used for binary operations, e.g. openning, closing, etc.
Morphological_element_size, 5, {3 10}

#Images can be resampled to make processing faster
resample, 0.5, [0.1 1]

#Small object size, in px. Bigger objects are removed due to openning operation
min_size, 200, [1 500]