#=== Parameters Config File ===
#Parameters are described by its name (no spaces), its value, and its range.
#All three items separated by commas
#For input validation use the range option:
# - square brackets define a continuous range between the values (inclusive)
# - curly brackets define a discrete range between the values (inclusive)
# - brackets define a set of possible values listed inside

#=== Default PARAMETERS ===
#Morphological element used for binary operations, e.g. openning, closing, etc.
Morphological_element_size, 5, {3 10}

#Connectivity used, use 4 or 8
Connectivity, 8, (4 8)

#Marker size for watershed segmentation
Marker_size, 10, {2 30}

#Images can be resampled to make processing faster
resample, 0.5, [0.1 1]

# Convexity for filter of clusters of bubbles. C > convexity
convexity, 1.0, [0.8 3]

# Eccentricity for filter of clusters of bubbles. E > eccentricity
eccentricity, 0.8, [0.1 1]

# Solidity for filter of clusters of bubbles. S < solidity
solidity, 0.8, [0.1 1]

#Reject abnormal bubbles from quantification. E>0.85 or S<0.9
Max_Eccentricity, 0.85, [0.1 1]
Min_Solidity, 0.9, [0.1 1]

#Also ignore too small bubbles (equivalent diameter in mm)
min_size, 0.1, [0 50]
