#=== Image Quantification Parameters ===
#Parameters are described by its name (no spaces), its value, and its range. All three separated by commas
#For input validation use the range option:
# - square brakets define a continious range between the values (inclusive)
# - curly brakets define a discrete range between the values (inclusive)
# - brakets define a set of possible values listed inside

#=== PARAMETERS ===
#Add parameters using the following pattern
angle, 45, (-45 45)

#This is a second parameter
scale, 0.5, [0.1 1]
