#=== Parameters Config File ===
#This is a comment because starts with a # sign. Empty lines are also ignored
#Parameters are described by its name (no spaces), its value, and its range.
#All three items separated by commas
#For input validation use the range option:
# - square brackets define a continuous range between the values (inclusive)
# - curly brackets define a discrete range between the values (inclusive)
# - brackets define a set of possible values listed inside

#=== PARAMETERS ===
#Add parameters using the following pattern
angle, 45, (-45 45)

#This is a second parameter
scale, 0.5, [0.1 1]
